body {
    font-family: lato, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.imagem_principal {
    height: 100vh;
    width: 100vw;
    background-color: red;
}
main {
    display: flex;
}
header {
    margin-top: 50px;
    width: 50%;
    position: absolute;
    top: 5%;
    left: 25%;
    display: flex;
    text-align: center;
    justify-content: center;
}
header p {
    font-size:25px;
}
.container {
    width: 600px;
    height: 470px;
    position: absolute;
    margin-top: 40px;
    top: 30%;
    left: 30%;
    background-color: #5C5C5C55;
    flex-direction: column;
    color: white;
    justify-content: center;
    display: flex;
    gap: 100px;
    align-items: center;
}
.container1 {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.container2 {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.organizar {
    display: flex;
    flex-direction: column;
}

.texto-principal {
    font-size: 36px;
    text-align: center;
    color: white;
}
