body {
    font-family: lato, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
}

main {
    display: flex;
}
header {
    margin-top: 90.31px;
    width: 100vw;
    position: absolute;
    top: 5%;
    left: 25%;
    display: flex;
    text-align: center;
    justify-content: center;
}
header p {
    font-size:25px;
}
.container {
    width: 691.87px;
    height:475.41px ;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #5C5C5C55;
    flex-direction: column;
    color: white;
    justify-content: center;
    display: flex;
    gap: 100px;
}
.container1 {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.container2 {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.organizar {
    display: flex;
    flex-direction: column;
}

.texto-principal {
    font-size: 36px;
    text-align: center;
    color: white;
}
